<h1>Edit your Restaurant:</h1>

<%= render "form" %>

<p><%= link_to "Remove Restaurant", @restaurant, :confirm => "Are you sure you want to remove this restaurant from the directory?", :method => :delete %></p>
<p><%= link_to "Back", restaurant_path %></p>
